@(controller: de.htwg.se.msiwar.controller.Controller)

@main("Pixel Wars")(controller) {
    <body>
        <h1>Pixelwars</h1>
        <p>
            Pixelwars (PixelTankWars) wurde ursprünglich für die Vorlesung "Moderne Programmiersprachen"
            <br> von Lukas Groß und Jan-David Schindler entwickelt.
            <br><br>
            Nun hat das Spiel ein neues Level erreicht
                und wird für das Studienfach Webtechnologie mit verschiedenen Technologien aufgebaut.
            <br>Die dafür zuständigen Personen sind
            <br>(Creator) Lukas Groß und Samantha Isted
        </p>
    </body>
}