@()

@main("Pixel Wars") {
    <h1>Ein Gedicht.</h1>
    <h1>Pixel.</h1>
    <br>
    <p>
        Pixel sind viereckig. Quadratisch sogar.
        <br>Seit 1965 gibt es die Bezeichnung Pixel schon.
        Ein Pixel ist winzig kann aber mit 3 Farbanälen tatsächlich 256*3 verschiedene Farben anzeigen lassen.
        <br>Ein winziger Pixel.
    </p>
    <p>
        Ein winziger Pixel ist dafür da, dass wir überhaupt etwas auf einem Bildschirm sehen können.
        <br>Eine neue gigantische Illusion der Realität,
        <br>der Fantasie.
    </p>
    <p>
        Pixel bewegen Menschen. Nicht nur im Film, sondern auch jahrzehnte lang.
        <br>Informationen weitergeben. Gedanken, Schriften, Kommunikation ! ... Pixel
        Einst was auf Papier gemacht wurde ist nun nur noch eine Reihenfolge von Pixeln.
        <br>
        Mama, ich hab meinen Fahrradschlossschlüssel verloren... Mama, ich hab den Bus verpasst, Mama kannst du mich abholen? Können wir dann noch beim McDonalds vorbei?
        <br> Alles nur Pixel.
    </p>
    <p>
        Also nach den ganzen grauen Texten war es Zeit Bewegung anzubringen! - Animationen! - Leben!
        <br>
        Und wie lernt man das Leben? - ja, spielerisch!
    </p>
}