@(title:String)(controller:de.htwg.se.msiwar.controller.Controller)(content:Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/app_icon.png")">
    </head>
    <body>
        <div class="navbar">
           <a href="/"><img src="@routes.Assets.versioned("images/app_icon.png")" width="40%" height="40%"></a>
            <div class="dropdown">
                <button class="dropbtn">Szenarios
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    @for(scenarioId <- controller.scenarioIds){
                        if(controller.scenarioName(scenarioId).isDefined) {
                            <a href="n@scenarioId">@controller.scenarioName(scenarioId).get</a>
                        }
                    }
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Help
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Controls</a>
                    <a href="#">About</a>
                </div>
            </div>
        </div>
        @content
    </body>
</html>