@(title: String)(controller: de.htwg.se.msiwar.controller.Controller)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.js")"> </script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.js")"> </script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/"><img src="@routes.Assets.versioned("images/app_icon.png")"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Let's play!
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @for(scenarioId <- controller.scenarioIds) {
                                @if(controller.scenarioName(scenarioId).isDefined) {
                                <a href="command/n@scenarioId">@controller.scenarioName(scenarioId).get</a>
                                }
                            }
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about" id="navbar" role="button"aria-haspopup="true" aria-expanded="false">
                           About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/control" id="navbar" role="button"aria-haspopup="true" aria-expanded="false">
                            Control
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        @content
    </body>
</html>