@(title: String)(controller: de.htwg.se.msiwar.controller.Controller)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.js")"> </script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.js")"> </script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>
        <nav class="nav">
            <a class="nav-link active" href="/"><img src="@routes.Assets.versioned("images/app_icon.png")"></a>
            <a class="nav-link" href="/gameSelection">Let's play!</a>
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/control">How to Play</a>
        </nav>
        @content
    </body>
</html>