@(controller: de.htwg.se.msiwar.controller.Controller)

@main("Pixel Wars")(controller) {
    <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.js")"> </script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap.js")"> </script>
    <script src="@routes.Assets.versioned("javascripts/main.js")"> </script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
    <body>
        <div id="statusbar">
            <span id="activePlayer">Turn: @controller.activePlayerName</span>
            <span id="activePlayerHealth">HP: @controller.activePlayerHealthPoints</span>
            <span id="activePlayerAP">AP: @controller.activePlayerActionPoints</span>
        </div>
        <div id="gameBoard">
        @for(row <- 0 until controller.rowCount) {
            <div class="gameBoardRow">
            @for(col <- 0 until controller.columnCount) {
                @defining(row + "_" + col){ cellId =>
                    @if(controller.cellContentImagePath(row, col).isDefined) {
                        <img class="gameBoardCell" id="gameBoardCell_@cellId" src="@routes.Assets.versioned(controller.cellContentImagePath(row, col).get)"/>
                    } else {
                        <img class="gameBoardCell" id="gameBoardCell_@cellId" src="@routes.Assets.versioned("images/placeholder.png")"/>
                    }
                }
            }
            </div>
        }
        </div>
        <div id="actionbar" class="switch-toggle switch-candy">
        @for(actionId <- controller.actionIds(controller.activePlayerNumber)) {
            <input class="action" id="action_@actionId" name="actions" type="radio" onclick=""><img src="@routes.Assets.versioned(controller.actionIconPath(actionId).get)"/></input>
        }
        </div>
    </body>
}