@import url("bootstrap.css");

:root {
    background-color: #000 !important;
}
body {
    background-color: #000000;
    color: white;
}

h1 {
    text-align: center;
    font-family:  impact;
    font-size: 50px;
    background-color: transparent;
}

p {
    background-color: transparent;
    font-family: Agency FB;
    font-size: 20px;
    text-align: center;
}

img{
    background-color: transparent;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#statusbar {
    margin-top: 2%;
    text-align: center;
}

#gameboard {
    background-color: white;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url("../images/background_desert.png");
}

.gameboardcolumn {
    width: 60px;
    height: 60px;
    float: left;
    border-style: solid;
    border-color: black;
}

.gameboardrow {
    height: 60px;
    padding: 0px;
}