@import url("bootstrap.css");

body {
    background-color: #000000;
    color: white;
}

h1 {
    color: white;
    text-align: center;
    font-family: impact;
    font-size: 50px;
}

p {
    font-family: Agency FB;
    font-size: 20px;
    text-align: center;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.statusbar {
    margin-top: 2%;
    text-align: center;
}

.gameboard {
    background-color: #316400;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.gameboardcolumn {
    width: 60px;
    height: 60px;
    float: left;
    border-style: solid;
    border-color: black;
}

.gameboardrow {
    height: 60px;
    padding: 0px;
}

#bgimg {
    background-image: url("../images/background_desert.png");
}