@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.twirl.api.Html
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(title: String, user: Option[models.User] = None)(content: Html)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder, webJarsUtil: WebJarsUtil)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="@assets.path("images/favicon.png")">
        <title>@title</title>
        <link href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">

        <link rel="stylesheet" href="@assets.path("styles/main.css")">
        <link rel="stylesheet" href="@assets.path("styles/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@assets.path("stylesheets/main.css")">
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
    </head>
    <body>
        <nav class="nav">
            <a class="nav-link active" href="/"><img src="@assets.path("images/app_icon.png")"></a>
            <a class="nav-link" href="/gameSelection"><br>Let's play!</a>
            <a class="nav-link" href="/about"><br>About</a>
            <a class="nav-link" href="/control"><br>How to Play</a>
            @user.map { u =>
            <a class="nav-link" href="@controllers.routes.ApplicationController.index"><br>@u.name</a>
            @if(u.loginInfo.providerID == com.mohiva.play.silhouette.impl.providers.CredentialsProvider.ID) {
                <a class="nav-link" href="@controllers.routes.ChangePasswordController.view"><br>@messages("change.password")</a>
            }
            <a class="nav-link" href="@controllers.routes.ApplicationController.signOut"><br>@messages("sign.out")</a>
            }.getOrElse {
                <a class="nav-link" href="@controllers.routes.SignInController.view"><br><span class="glyphicon glyphicon-user"></span>Login</a>
                <a class="nav-link" href="@controllers.routes.SignUpController.view"><br><span class="glyphicon glyphicon-log-in"></span>Register</a>
            }
        </nav>
        <main class="container">
            <div class="starter-template row">
                @request.flash.get("error").map { msg =>
                    <div class="col-md-6 col-md-offset-3 alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>@messages("error")</strong> @msg
                    </div>
                }
                @request.flash.get("info").map { msg =>
                    <div class="col-md-6 col-md-offset-3 alert alert-info">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>@messages("info")</strong> @msg
                    </div>
                }
                @request.flash.get("success").map { msg =>
                    <div class="col-md-6 col-md-offset-3 alert alert-success">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>@messages("success")</strong> @msg
                    </div>
                }
                @content
            </div>
        </main>
        @webJarsUtil.locate("jquery.min.js").script()
        <script src="@assets.path("javascripts/bootstrap.js")"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
        <script src="@assets.path("javascripts/zxcvbnShim.js")"></script>
    </body>
</html>
